<h1>Listing jobs</h1>

<table>
  <thead>
    <tr>
      <th>Job name</th>
      <th>Due date</th>
      <th>Job complete</th>
      <th>Job location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.job_name %></td>
        <td><%= job.due_date %></td>
        <td><%= job.job_complete %></td>
        <td><%= job.job_location %></td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path %>
